.garden-wrapper{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.garden {
    background-color:sienna;
    width: 80vw;
    height: 60vh;
    margin-bottom: 6vh;
}

.square {
    background-color: sienna;
    width: 3vw; 
    height: 3vh;
    cursor: move;
}

.square:hover{
    background-color: orange;
    transition: background-color .3s;
}